<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @adstatistic.type %>
</p>

<%= link_to 'Edit', edit_content_adstatistic_path(@content, @adstatistic) %> |
<%= link_to 'Back', content_adstatistics_path(@content) %>
