<h1>Editing microlocation</h1>

<%= render 'form' %>

<%= link_to 'Show', venue_address_microlocation_path(@venue, @address, @microlocation) %> |
<%= link_to 'Back', venue_address_microlocations_path(@venue, @address) %>
